.step-text {
  margin-left: 1em;
}

.input-amount {
  width: 2em;
}

.input-unit {
  width: 2em;
}

.list-item label {
  margin: 0.25em;
}

.list-item-remove {
  margin-left: 0.5em;
}

.add-ingredient {
  margin: 0.5em;
}
