<ng-container *ngIf="recipe">
  <h2>{{recipe.name}}</h2>
  Aktiv? {{recipe.active ? "✔" : "❌"}}
  <ul>
    <li *ngFor="let recipeIngredient of recipe.recipeIngredients" class="ingredient">
      <!--    <input type="text">-->
      {{getIngredientName$(recipeIngredient) | async}} - {{recipeIngredient.amount}} {{getMeasuringUnit(recipeIngredient)}}
    </li>
  </ul>
  <ol>
    <li *ngFor="let step of recipe.steps" class="step">
      <span class="step-text">{{step.text}}</span>
    </li>
  </ol>

  <form [formGroup]="formGroup"  (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input type="text" formControlName="name" class="list-item-name">
    </label>
    <label>
      Active:
      <input type="checkbox" formControlName="active">
    </label>

    Zutaten:
    <ul [formArrayName]="'recipeIngredients'">
      <ng-container *ngFor="let recipeIngredient of formGroup.controls.recipeIngredients.controls; let i = index">
        <li [formGroupName]="i" class="list-item">
          <label>
            <input type="number" formControlName="ingredientAmount" class="list-item-input list-item-input-amount">
          </label>
          <label>
            <select formControlName="ingredientUnit" class="list-item-input list-item-input-unit">
              <ng-container *ngFor="let ingredientUnit of Object.keys(MeasuringUnit)">
                <option [value]="ingredientUnit">{{getMeasuringUnitDisplayName(ingredientUnit)}}</option>
              </ng-container>
            </select>
          </label>
          <label>
            <select formControlName="ingredientId" class="list-item-input list-item-input-ingredient">
              <ng-container *ngIf="getAllPossibleIngredients() as ingredients">
                <option *ngFor="let ingredient of ingredients"
                        [value]="ingredient.id"
                >
                  {{ ingredient.name }}
                </option>
              </ng-container>
            </select>
          </label>
          <button type="button" (click)="removeRecipeIngredient(i)" class="list-item-remove">X</button>
        </li>
      </ng-container>
      <button type="button" (click)="addRecipeIngredient()" class="add-ingredient">Zutat hinzufügen</button>
    </ul>

    Schritte:
    <ol [formArrayName]="'steps'">
      <ng-container *ngFor="let steps of formGroup.controls.steps.controls; let i = index">
        <li [formGroupName]="i" class="list-item">
          <label>
            {{i}}.
          </label>
          <label>
            <!-- Text: -->
            <textarea type="text" formControlName="text" class="list-item-step-text" rows="3"></textarea>
          </label>
          <!-- <label>
            Bild:
            <img src="" alt="">
          </label> -->
          <button type="button" (click)="removeStep(i)" class="list-item-remove">X</button>
        </li>
      </ng-container>
      <button type="button" (click)="addStep()" class="add-ingredient">Schritt hinzufügen</button>
    </ol>

    <p>
      <button type="submit" class="save-list">Speichern</button>
    </p>
  </form>
</ng-container>

<a class="return-btn" routerLink="../..">Zurück</a>
