.list-item {
  width: max-content;
  background-color: lightgray;
  padding: 0.25em 0.45em 0.5em;
  margin: 0.25em 0.35em;
}

.list-item-header-text {
  margin: 0.25em;
  color: #1b1f24;
}

.list-item-header-link {
  text-decoration: none;
}

.ingredient {

}

.list-item-ul {
  list-style-type: none;
  padding: 0.25em 0.5em 0.25em 1em;
}
